/*Corrección preentrega 1: El font-family debe ser importado de Google fonts (recomendado) o de manera local usando el archivo del font-family descargado, no podemos usar font locales ya que afecta al diseño del sitio si el usuario no tiene dicha font en su sistema operativo:*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,900;1,200;1,600;1,900&display=swap');

/*llamar la fuente como:
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* menú de nevegación */
.menu-navegador {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

.menu-navegador a {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Corrección preentrega 1: El uso de position debe ser reemplazado por flex/grid según corresponda para la siguiente entrega:*/
.menu-navegador a img{
    width: 140px;
    height: auto;
    padding: 20;
}

.menu-navegador ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.menu-navegador ul li {
    padding: 20px;
}

.menu-navegador ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: none;
}

    
.hero {
    background-color: white;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    object-fit: cover;
}

.hero img {
    display: inline-block;
    width: 100%;
    min-height: 600px;
    object-fit: cover;
}

.hero-content {
    display: inline-block;
    width: 100%;
    padding: 0px;
    position: relative;
    top: 100px;
}

/*Corrección preentrega 1: Cuidado con el uso de padding y/o margin con valores altos, ya que pueden romper el responsive a futuro:*/
p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: justify;
    padding: 20px 30px;
    /*modificado*/
}

.titulo1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.titulo2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.texto {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}


.nota {
    background-color: #000000;
    color: white;
    padding: 50px 100px;
    margin: 20px 30px;
    text-align: center;
}

/*cards*/
.cards {
    background-color: rgb(180, 177, 173);
    padding: 30px 15px;
    text-align: center;
}

.card-body img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /*para evitar que se deforma la imagen*/
}

.card-body {
    display: inline-block;
    /*absorbe lo mejor de cada propiedad*/
    width: 30%;
    text-align: left;
    background-color: #8c9191;
    margin: 15px;
}

.card-body h2,
.card-body p {
    /*aplica las mismas propiedades a dos clases al mismo tiempo*/
    padding: 14px;
}


.proyecto img {
    display: inline-block;
    height: 400px;
    width: 48%;
    object-fit: cover;
    padding: 15px;
    position: relative;
}

.footer {
    padding: 15px;
    background-color: #5d6366;
    height: 120px;
    width: 100%;
    text-align: center;
}

.footer img {
    width: 150px;
    height: auto;
    text-align: center;
}

.footer a {
    text-decoration: none;
    display: inline;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.cajas {
    padding: 50px 0;
    display: flex;
    /* flex-direction:column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.caja {
    background-color: #f3e2c8;
    width: 30%;
    gap: 10px;
}

.caja img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.caja h2,
.caja p {
    padding: 14px;
    color: black;
}

.c4 {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.c4 img {
    width: 50%;
    height: 100%;
    align-self: flex-start;
}

.caja_content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.caja_content a {
    text-decoration: none;
    color: #eeee;
    padding: 10px;
    border: 2px solid #eeee;
    border-radius: 7px;
    align-self: flex-end;
    width: 150px;
    text-align: center;
}

/*grid*/
.grilla {
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "area1 area1 area1 area1 area1"
        "area2 area2 area3 area4 area5"
        "area2 area2 area3 area4 area5";
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.g1 {
    grid-area: area1;
}

.g2 {
    grid-area: area2;
}

.g3 {
    grid-area: area3;
}

.g4 {
    grid-area: area4;
}

.g5 {
    grid-area: area5;
}

.g6 {
    grid-area: are6;
}

.g7 {
    grid-area: area7;
}

.g8 {
    grid-area: area8;
}

.grilla__hijo {
    width: 100%;
    height: 100%;
    background-color: #CC9544;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeee;
    border: 3px solid green;

}

.grilla__hijo p {
    font-size: 60px;
}