//
.map-responsive {
    display: flex;
    flex: end;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
        height: 500px;
        width: 600px;
        }
}