.carousel-inner {
    height: 400px
}

.carousel-item img {
    @include image(100% , 400px , cover)
}


/*cards*/
.imagenes-cards {
    @include image (auto , 300px , cover)

}

.card-body {
    text-align: center;
    background-color: $light-color;
}

.img-index {
    @include image (auto, 300px, cover)
    
}

