.footer {
    padding: 15px;
    background-color: #0264f7;
    height: auto;
    width: 100%;
    text-align: center;
   font-family: 'Poppins', sans-serif;
  
}

   .footer a i {
    font-size: 35px;
    color: #000000;
    padding: 15px;
}

.footer a i:hover {
    color: aliceblue;
}